body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    margin: 0px;
}

.kiss{
    display:block;
    position: fixed;
    top: 50%;
    left: 10%;
    /* background-color: red; */
    color:white;
    padding: 20px;
    font-size: 2em;

}

#fucked{
    color: rgb(0, 255, 0);
    background-color: rgb(255, 0, 132);
    border: dotted;
    border-width: 5px;
}

.title{
    padding: 2em;
    font-size: 4em;
    color: rgb(0, 255, 0)
}

.people{
    margin-top: 4em;
    padding: 1em;
    font-size: 1.5em;
    text-align: right;
}

.center{
    /* display: block; */
    /* position: absolute; */
    /* top: 30%;
    left: 50%; */
    color:rgb(255, 0, 132);
    font-size: 1em;
}

.blackApp{
    background-color: rgb(0, 0, 0);
}

.team{
    padding-top: 3em;
    padding-left: 1em;
    text-align: left;
    color:rgb(255, 255, 255);
}

.whiteApp{
    background-color: rgb(255, 255, 255);
}

/* 
.synthContainer{
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.125);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
}

.title {
    color: #333;
    font-size: 4em;
}

.subTitle {
    font-size: 1.2em;
}

.description{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1em;
}

.inTheCenter{
    text-align: center;
    display: flex;
    justify-content: center;
}

.someMargin{
    margin: 10px;
}

.marginTop{
    margin-top: 15px;
}

.filter{
    margin-right: 10px;
    margin-left: 10px;
}

#number{
    background-color: #808080;
    border: 0px;
    color: #ff0;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
} */